<html>
    <h1>Welcome To Chitter</h1>
    <form method="POST" action="/signed-in">
        <input type="text" placeholder="Firstname" name="fName">
        <input type="text" placeholder="Lastname" name="lName">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="submit">
    </form>
</html>